@charset "UTF-8";
html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-size: 100%;
	background: transparent;
	box-sizing: border-box; 
}
body {
	font-family: sans-serif;
	line-height: 1.7;
	margin: 0;
}
.menu {
	float: left;
	width: 20%;
	height: 20px;
	margin: 0 0 20px 0;
	background-color: #ffce5b;
	list-style: none;
	display: grid;
	grid-gap: 10px;
	padding: 5px 5px 100% 5px;
}
.main {
	display: block;
	width: 85%;
	padding: 0;
	margin-left: auto;
	text-align: left;
	position: relative; left: 20px;
}
li { 
	padding: 10px 0;
	height: 20px;
	text-align: center;
}
.list {
	text-align: center;
}
a {
	text-decoration:none; 
}
a:hover {
	color: #0073bc;
}
a.active {
	color: #4ca4e8;
}
/*p {
	text-align: left;
}*/
.midashi {
	text-align: left;
	font-size: 20px;
	padding: 10px;
	margin: 0;
}
.list_btn {
	display: inline-block; 
	height: 25px;
	color: #0000cd;
	box-shadow: 1px 1px 2px #b0c4de; 
	cursor: pointer;
	font-size: 15px;
}
