@charset "UTF-8";
html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-size: 100%;
	background: transparent;
	box-sizing: border-box; 
}
body {
	font-family: sans-serif;
	line-height: 1.7;
	margin: 0;
}
.menu {
	float: left;
	width: 20%;
	height: 20px;
	margin: 0 0 20px 0;
	background-color: #ffce5b;
	list-style: none;
	display: grid;
	grid-gap: 10px;
	padding: 0 0 100% 0;
}
.main {
	display: block;
	width: 85%;
	padding: 0;
	margin-left: auto;
	text-align: left;
	position: relative; left: 20px;
}
li { 
	padding: 10px 0;
	border-bottom: 1px solid #808080;
	height: 20px;
	text-align: center;
}
.list {
	text-align: center;
}
a {
	text-decoration:none; 
}
a:hover {
	color: #0073bc;
}
a.active {
	color: #4ca4e8;
}
.sakujyo {
	/*text-align: left;*/
	margin: 0;
	width: 900px;
	height: 30px;
	font-size: 18px
}
.midashi {
	text-align: left;
	font-size: 20px;
	padding: 10px;
	margin: 0;
}
input {
	line-height: 19px;
}
.btn1,
.btn2,
.btn3 {
	display: inline-block; 
	font-size: 13px; 
	border: 1px solid #000000;
	border-radius: 3px;
	padding: 3px 8px;
	color: #000000;
	background-color: #ffe4b5; 
	box-shadow: 2px 2px 3px #b0c4de; 
	cursor: pointer;
	font-size: 15px;
}
.btn1:hover {
	background-color: #fdf5e6 
}
.btn2:hover {
	background-color: #fdf5e6; 
}
.btn3:hover {
	background-color: #fdf5e6; 
}
